<?php
$header = 'This file is part of riesenia/cart package.

Licensed under the MIT License
(c) RIESENIA.com';

$config = new Rshop\CS\Config\Rshop($header);

$config->setStrict()
    ->setRule('native_function_invocation', true)
    ->setRule('phpdoc_add_missing_param_annotation', ['only_untyped' => true])
    ->getFinder()
    ->in(__DIR__)
    ->exclude('vendor');

return $config;
